---
// Layout
import Layout from "../../layouts/Layout.astro";

// Styling
import "../../styles/markdown.css";

// Components
import Container from "../../components/elements/Container.astro";
import Heading from "../../components/elements/Heading.astro";
import Text from "../../components/elements/Text.astro";
import ImageContainer from "../../components/elements/ImageContainer.astro";
import Link from "../../components/elements/Link.astro";

// Routing
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
export const getStaticPaths = (async () => {
    const works = await getCollection("works", ({data}) => !data.isDraft)
    return works.map((work) => ({
        params: {
            page: work.data.slug,
        },
        props: {
            work,
        }
    }));
}) satisfies GetStaticPaths;

// props
const { work } = Astro.props;
const { Content } = await render(work);
const { title, client, category, services, year, description, featuredImage, imageTwo, imageThree, imageFour, liveSite } = work.data;
const details = [
    { heading: "Client", text: `${client}` },
    { heading: "Category", text: `${category}` },
    { heading: "Services", text: `${services}` },
    { heading: "Year", text: `${year}` }
]
---

<Layout title={`Work - ${title}`}>
    <Container variant={'xl'} aria-label="Work Details" class="items-center">
        <Heading tagName="h1" tagSize="h1" class="text-center">{title}</Heading>
        <div class="w-full md:h-[600px] h-[300px]">
            <ImageContainer src={featuredImage} alt={title} />
        </div>
        <div class="flex flex-col gap-7 md:grid md:grid-cols-4">
            {
                details.map((detail) => (
                    <div class="text-center">
                        <Heading tagName="h2" tagSize="h4" class="mb-2">{detail.heading}</Heading>
                        <Text variant={'sm'} class="text-base-900">{detail.text}</Text>
                    </div>
                ))
            }
        </div>
        <Link variant={'button'} href={liveSite}>Live Site</Link>
        <div class="md:max-w-3xl text-base-900">
            <Text variant={'xl'}>{description}</Text>
        </div>
        <div class="flex md:flex-row flex-col gap-7">
            <div>
                <ImageContainer src={imageTwo} alt={title} />
            </div>
            <div>
                <ImageContainer src={imageThree} alt={title} />
            </div>
        </div>
        <article class="markdown-content md:max-w-3xl flex flex-col gap-4">
            <Content />
        </article>
        <div class="w-full md:h-[600px] h-[300px]">
            <ImageContainer src={imageFour} alt={title} />
        </div>
        <Link variant={'button'} href="/works">All Works</Link>
    </Container>
</Layout>
