---
import type { PageBlocksMap } from '../../lib/content-types'
import Container from '../elements/Container.astro'
import Heading from '../elements/Heading.astro'
import ImageContainer from '../elements/ImageContainer.astro'
import Text from '../elements/Text.astro'
import Link from '../elements/Link.astro'
import RichText from '../elements/RichText.astro'
import { getDesignBySlug } from '../../lib/content.ts'

const block = Astro.props.block as PageBlocksMap['design_details_block']
const designEntry = await getDesignBySlug(Astro.params.slug)
const design = designEntry.data
const body = designEntry.body
const details = [
  { heading: 'Client', text: `${design.client}` },
  { heading: 'Category', text: `${design.category}` },
  { heading: 'Services', text: `${design.services}` },
  { heading: 'Year', text: `${design.sortDate.getFullYear()}` },
]
---

<Container variant={'xl'} aria-label="Design Details" class="items-center">
  <Heading tagName="h1" tagSize="h1" class="text-center">{design.title}</Heading>
  <div class="w-full md:h-[600px] h-[300px]">
    <ImageContainer src={design.featuredImage} alt={design.title} />
  </div>
  <div class="flex flex-col gap-7 md:grid md:grid-cols-4">
    {
      details.map((detail) => (
        <div class="text-center">
          <Heading tagName="h2" tagSize="h4" class="mb-2">
            {detail.heading}
          </Heading>
          <Text variant={'sm'} class="text-base-900">
            {detail.text}
          </Text>
        </div>
      ))
    }
  </div>
  <Link variant={'button'} href={design.paymentLink}>{block.paymentButtonLabel}</Link>
  <div class="md:max-w-3xl text-base-900">
    <RichText variant={'xl'} content={design.description} />
  </div>
  <div class="flex md:flex-row flex-col gap-7">
    <div>
      <ImageContainer src={design.imageTwo} alt={design.title} />
    </div>
    <div>
      <ImageContainer src={design.imageThree} alt={design.title} />
    </div>
  </div>
  <div class="md:max-w-3xl text-base-900">
    <RichText variant={'xl'} content={body} />
  </div>
  <div class="w-full md:h-[600px] h-[300px]">
    <ImageContainer src={design.imageFour} alt={design.title} />
  </div>
  <Link variant={'button'} href={design.paymentLink}>{block.paymentButtonLabel}</Link>
</Container>
