---
import type { PageBlocksMap } from '../../lib/content-types'
import Container from '../elements/Container.astro'
import Heading from '../elements/Heading.astro'
import RichText from '../elements/RichText.astro'
import Link from '../elements/Link.astro'

const block = Astro.props.block as PageBlocksMap['intro_block']
const alignment = (block.alignment || 'center').toString().toLowerCase()
const container = `text-${alignment} text-base-900 flex flex-col items-center`
---

<Container variant={'xl'} class={container}>
  <Heading tagName="h1" tagSize="h1">{block.heading}</Heading>
  <div class="max-w-3xl flex flex-col gap-4">
    <RichText variant={'xl'} content={block.lead} />
    <RichText variant={'sm'} content={block.body} />
  </div>
  {
    block.button && block.link && (
      <Link variant={'button'} href={block.link}>
        {block.button}
      </Link>
    )
  }
</Container>
