---
// layout
import Layout from "../../layouts/Layout.astro";

// components
import Heading from "../../components/elements/Heading.astro";
import Container from "../../components/elements/Container.astro";
import Design from "../../components/elements/Design.astro";
import Pagination from "../../components/sections/designs/Pagination.astro";

// routing
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async ({paginate}) => {
    const designs = await getCollection("designs", ({data}) => !data.isDraft)
    return paginate(designs, {pageSize: 6});
}) satisfies GetStaticPaths;

// props
const { page } = Astro.props;
---

<Layout title=`Designs - Page ${page.currentPage}`>
    <Heading tagName="h1" tagSize="h1" class="text-center">Designs</Heading>
    <Container variant={'lg'}>
        <Container class="grid lg:grid-cols-2 grid-cols-1 gap-24">
            {page.data.map((design) => (
                <Design 
                    slug={design.data.slug}
                    featuredImage={design.data.featuredImage}
                    title={design.data.title}
                    client={design.data.client}
                    category={design.data.category}>
                </Design>
            ))
            }
        </Container>
        <div class="flex flex-row gap-2">
            <Pagination prev={page.url.prev}></Pagination>
            <Pagination next={page.url.next}></Pagination>
        </div>
    </Container>
    
</Layout>
