---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import ResumeDropdown from "../../elements/ResumeDropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

interface ExperienceContent {
    heading: string;
    items: Array<{ title: string; place: string; period: string; text: string }>;
}
const { content } = Astro.props as { content: ExperienceContent };
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">{content.heading}</Heading>
    <div class="flex flex-col gap-4">  
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                content.items.map((i) => (
                    <ResumeDropdown title={i.title} place={i.place} period={i.period} text={i.text} />
                ))
            }
        </Container>
        <ContainerBottom />
    </div>

</Container>
