---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";
import type { AboutIntroContent } from "../../../lib/content-types";
const { content } = Astro.props as { content: AboutIntroContent };
---

<Container variant={'xl'}>
    <Heading tagName="h1" tagSize="h1" class="text-center">{content.heading}</Heading>
    <div class="flex md:flex-row flex-col gap-16 md:items-center">
        <div class="flex-1 flex flex-col gap-7">
            <Text variant={'xl'} class="text-base-900">{content.lead}</Text>
            <Text variant={'sm'} class="text-base-900">{content.body}</Text>
        </div>
        <div class="flex-1 md:h-[500px] w-full">
            <ImageContainer src={content.image} alt={content.imageAlt}/>
        </div>
    </div>
</Container>
