---
import Text from '../elements/Text.astro'
import Heading from '../elements/Heading.astro'
import SymbolImage from './SymbolImage.astro'
import OptimizedImage from './OptimizedImage.astro'
import type { DesignEntry } from '../../lib/content'
import { getAllSettings } from '../../lib/content'
import { optimizeImage } from '../../lib/images'

// props
const { layout } = await getAllSettings()
const maxWidth = 400
const designTileImage = await optimizeImage(layout.designTileImage, { maxWidth })
const design = Astro.props.design as DesignEntry
const detailsPermalink = design.getDetailsPermalink()
---

<div class="group lg:m-auto">
  <a href={`/${detailsPermalink}`}>
    <div
      class="relative xl:w-87.5 xl:h-87.5 lg:w-75 lg:h-75 md:w-100 md:h-100 sm:w-62.5 sm:h-62.5 w-50 h-50 overflow-visible mb-4"
    >
      <div class="absolute top-2 left-2 z-40 bg-base-100 border-2 border-base-900 px-4 flex gap-2">
        <Text variant={'lg'} class="text-base-900">{design.data.category}</Text>
        <SymbolImage class="bg-base-900" />
      </div>
      {
        designTileImage && (
          <div
            style={`background-image: url(${designTileImage.src})`}
            class="absolute inset-0 bg-cover opacity-40 z-30"
          />
        )
      }
      {
        design.data.featuredImage && (
          <OptimizedImage
            src={design.data.featuredImage}
            alt={design.data.title ?? 'Design'}
            class="relative w-full h-full object-cover z-20"
            loading="lazy"
            width={maxWidth}
          />
        )
      }
    </div>
  </a>
  <Heading tagName="h3" tagSize="h4" class="group-hover:underline">{design.data.title}</Heading>
  <Text variant={'md'}>{design.data.client}</Text>
</div>
