---
import '../styles/global.css'
import BaseHead from '../components/global/BaseHead.astro'
import Wrapper from '../components/global/Wrapper.astro'
import NavBar from '../components/global/Navigation.astro'
import Footer from '../components/global/Footer.astro'
import { getSettings } from '../lib/content'
import { optimizeImage } from '../lib/images'

interface Props {
  title: string | undefined
}

const { title } = Astro.props
const { layout } = await getSettings()
const backgroundImage = await optimizeImage(layout.backgroundImage)

const styleRules = [
  backgroundImage ? `background-image: url(${backgroundImage.src})` : undefined,
  layout.fontSansScale ? `--font-sans-scale: ${layout.fontSansScale}` : undefined,
  layout.fontMonoScale ? `--font-mono-scale: ${layout.fontMonoScale}` : undefined,
  layout.primaryColor ? `--color-base-900: ${layout.primaryColor}` : undefined,
  layout.secondaryColor ? `--color-base-700: ${layout.secondaryColor}` : undefined,
  layout.contrastColor ? `--color-base-100: ${layout.contrastColor}` : undefined,
]
const style = styleRules.filter(Boolean).join('; ')
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <BaseHead title={title} />
  <body style={style} class="bg-cover bg-center bg-no-repeat bg-fixed box-border">
    <Wrapper>
      <NavBar />
      <main class="flex flex-col xl:gap-48 lg:gap-40 gap-28">
        <slot />
      </main>
      <Footer />
    </Wrapper>
  </body>
</html>
