---
// components
import Container from '../elements/Container.astro'
import Heading from '../elements/Heading.astro'
import Link from '../elements/Link.astro'
import RichText from '../elements/RichText.astro'
import { getSettings } from '../../lib/content'

const { layout, navigation } = await getSettings()
---

<Container variant={'xl'} class="mt-32 pb-8">
  <div class="flex flex-col gap-10 md:flex-row">
    <div class="flex-1 md:text-left text-center">
      <Heading tagName="h3" tagSize="h4" class="text-base-900 mb-5">{navigation.socialsHeading}</Heading>
      <ul>
        {
          navigation.socialsLinks.map((social) => (
            <li>
              <Link variant={'nav'} href={social.href ?? '#'}>
                {social.title}
              </Link>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex-1 md:text-right text-center">
      <Heading tagName="h3" tagSize="h4" class="text-base-900 mb-5">{navigation.navigationHeading}</Heading>
      <ul>
        {
          navigation.navigationLinks.map((navLink) => (
            <li>
              <Link variant={'nav'} href={navLink.href ?? '#'}>
                {navLink.title}
              </Link>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="flex flex-col text-center">
    <RichText variant={'sm'} class="text-base-900" content={layout.copyright} />
  </div>
</Container>
